In [5]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

23/02/26 15:45:18 WARN Utils: Your hostname, dengine resolves to a loopback address: 127.0.1.1; using 192.168.1.221 instead (on interface ens18)
23/02/26 15:45:18 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/02/26 15:45:19 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [6]:
df_green = spark.read.parquet('data/pq/green/*/*')

In [7]:
```
SELECT 
   date_trunc('hour', lpep_pickup_datetime) AS hour, 
   PULocationID AS zone,
   
   SUM(total_amount) AS amount,
   COUNT(1) as number_records

FROM green
WHERE 
    lpep_pickup_datetime >= '2020-01-01'
GROUP BY 
   1, 2
```

SyntaxError: invalid syntax (2636520060.py, line 1)

In [ ]:
df_green.rdd

In [8]:
df_green.rdd.take(10)

[Row(VendorID=2, lpep_pickup_datetime=datetime.datetime(2020, 1, 16, 23, 31, 44), lpep_dropoff_datetime=datetime.datetime(2020, 1, 16, 23, 46, 21), store_and_fwd_flag='N', RatecodeID=1, PULocationID=65, DOLocationID=56, passenger_count=1, trip_distance=8.6, fare_amount=24.5, extra=0.5, mta_tax=0.5, tip_amount=0.0, tolls_amount=0.0, ehail_fee=None, improvement_surcharge=0.3, total_amount=25.8, payment_type=2, trip_type=1, congestion_surcharge=0.0),
 Row(VendorID=2, lpep_pickup_datetime=datetime.datetime(2020, 1, 14, 15, 1, 42), lpep_dropoff_datetime=datetime.datetime(2020, 1, 14, 15, 28, 14), store_and_fwd_flag='N', RatecodeID=1, PULocationID=129, DOLocationID=141, passenger_count=5, trip_distance=5.16, fare_amount=20.5, extra=0.0, mta_tax=0.5, tip_amount=0.0, tolls_amount=0.0, ehail_fee=None, improvement_surcharge=0.3, total_amount=24.05, payment_type=2, trip_type=1, congestion_surcharge=2.75),
 Row(VendorID=None, lpep_pickup_datetime=datetime.datetime(2020, 1, 24, 5, 55), lpep_dropoff_datetime=datetime.datetime(2020, 1, 24, 6, 26), store_and_fwd_flag=None, RatecodeID=None, PULocationID=242, DOLocationID=261, passenger_count=None, trip_distance=16.27, fare_amount=53.2, extra=2.75, mta_tax=0.5, tip_amount=0.0, tolls_amount=6.12, ehail_fee=None, improvement_surcharge=0.3, total_amount=62.87, payment_type=None, trip_type=None, congestion_surcharge=None),
 Row(VendorID=2, lpep_pickup_datetime=datetime.datetime(2020, 1, 31, 8, 19, 3), lpep_dropoff_datetime=datetime.datetime(2020, 1, 31, 8, 24, 35), store_and_fwd_flag='N', RatecodeID=1, PULocationID=166, DOLocationID=238, passenger_count=1, trip_distance=1.42, fare_amount=6.5, extra=0.0, mta_tax=0.5, tip_amount=1.46, tolls_amount=0.0, ehail_fee=None, improvement_surcharge=0.3, total_amount=8.76, payment_type=1, trip_type=1, congestion_surcharge=0.0),
 Row(VendorID=None, lpep_pickup_datetime=datetime.datetime(2020, 1, 12, 18, 54), lpep_dropoff_datetime=datetime.datetime(2020, 1, 12, 19, 11), store_and_fwd_flag=None, RatecodeID=None, PULocationID=41, DOLocationID=235, passenger_count=None, trip_distance=4.62, fare_amount=14.24, extra=0.0, mta_tax=0.0, tip_amount=0.0, tolls_amount=0.0, ehail_fee=None, improvement_surcharge=0.3, total_amount=14.54, payment_type=None, trip_type=None, congestion_surcharge=None),
 Row(VendorID=2, lpep_pickup_datetime=datetime.datetime(2020, 1, 11, 17, 13, 41), lpep_dropoff_datetime=datetime.datetime(2020, 1, 11, 17, 33, 40), store_and_fwd_flag='N', RatecodeID=1, PULocationID=66, DOLocationID=49, passenger_count=6, trip_distance=2.67, fare_amount=14.5, extra=0.0, mta_tax=0.5, tip_amount=3.06, tolls_amount=0.0, ehail_fee=None, improvement_surcharge=0.3, total_amount=18.36, payment_type=1, trip_type=1, congestion_surcharge=0.0),
 Row(VendorID=2, lpep_pickup_datetime=datetime.datetime(2020, 1, 29, 19, 23, 3), lpep_dropoff_datetime=datetime.datetime(2020, 1, 29, 19, 29, 47), store_and_fwd_flag='N', RatecodeID=1, PULocationID=260, DOLocationID=226, passenger_count=2, trip_distance=0.64, fare_amount=6.0, extra=1.0, mta_tax=0.5, tip_amount=1.0, tolls_amount=0.0, ehail_fee=None, improvement_surcharge=0.3, total_amount=8.8, payment_type=1, trip_type=1, congestion_surcharge=0.0),
 Row(VendorID=2, lpep_pickup_datetime=datetime.datetime(2020, 1, 26, 11, 45, 13), lpep_dropoff_datetime=datetime.datetime(2020, 1, 26, 11, 47, 10), store_and_fwd_flag='N', RatecodeID=1, PULocationID=116, DOLocationID=116, passenger_count=1, trip_distance=0.43, fare_amount=3.5, extra=0.0, mta_tax=0.5, tip_amount=0.0, tolls_amount=0.0, ehail_fee=None, improvement_surcharge=0.3, total_amount=4.3, payment_type=2, trip_type=1, congestion_surcharge=0.0),
 Row(VendorID=2, lpep_pickup_datetime=datetime.datetime(2020, 1, 3, 8, 58, 57), lpep_dropoff_datetime=datetime.datetime(2020, 1, 3, 9, 7, 19), store_and_fwd_flag='N', RatecodeID=1, PULocationID=74, DOLocationID=75, passenger_count=1, trip_distance=1.38, fare_amount=7.0, extra=0.0, mta_tax=0.5, tip_amount=0.0, tolls_amount=0.0, ehail_fee=None, improvement_surcharge=0.3, total_amount=7.8, payment_type=2, trip_type=1, congestion_surcharge=0.0),
 Row(VendorID=2, lpep_pickup_datetime=datetime.datetime(2020, 1, 27, 21, 56, 19), lpep_dropoff_datetime=datetime.datetime(2020, 1, 27, 22, 1, 4), store_and_fwd_flag='N', RatecodeID=1, PULocationID=41, DOLocationID=74, passenger_count=1, trip_distance=1.0, fare_amount=5.5, extra=0.5, mta_tax=0.5, tip_amount=1.02, tolls_amount=0.0, ehail_fee=None, improvement_surcharge=0.3, total_amount=7.82, payment_type=1, trip_type=1, congestion_surcharge=0.0)]

In [9]:
df_green.take(5)

[Row(VendorID=2, lpep_pickup_datetime=datetime.datetime(2020, 1, 16, 23, 31, 44), lpep_dropoff_datetime=datetime.datetime(2020, 1, 16, 23, 46, 21), store_and_fwd_flag='N', RatecodeID=1, PULocationID=65, DOLocationID=56, passenger_count=1, trip_distance=8.6, fare_amount=24.5, extra=0.5, mta_tax=0.5, tip_amount=0.0, tolls_amount=0.0, ehail_fee=None, improvement_surcharge=0.3, total_amount=25.8, payment_type=2, trip_type=1, congestion_surcharge=0.0),
 Row(VendorID=2, lpep_pickup_datetime=datetime.datetime(2020, 1, 14, 15, 1, 42), lpep_dropoff_datetime=datetime.datetime(2020, 1, 14, 15, 28, 14), store_and_fwd_flag='N', RatecodeID=1, PULocationID=129, DOLocationID=141, passenger_count=5, trip_distance=5.16, fare_amount=20.5, extra=0.0, mta_tax=0.5, tip_amount=0.0, tolls_amount=0.0, ehail_fee=None, improvement_surcharge=0.3, total_amount=24.05, payment_type=2, trip_type=1, congestion_surcharge=2.75),
 Row(VendorID=None, lpep_pickup_datetime=datetime.datetime(2020, 1, 24, 5, 55), lpep_dropoff_datetime=datetime.datetime(2020, 1, 24, 6, 26), store_and_fwd_flag=None, RatecodeID=None, PULocationID=242, DOLocationID=261, passenger_count=None, trip_distance=16.27, fare_amount=53.2, extra=2.75, mta_tax=0.5, tip_amount=0.0, tolls_amount=6.12, ehail_fee=None, improvement_surcharge=0.3, total_amount=62.87, payment_type=None, trip_type=None, congestion_surcharge=None),
 Row(VendorID=2, lpep_pickup_datetime=datetime.datetime(2020, 1, 31, 8, 19, 3), lpep_dropoff_datetime=datetime.datetime(2020, 1, 31, 8, 24, 35), store_and_fwd_flag='N', RatecodeID=1, PULocationID=166, DOLocationID=238, passenger_count=1, trip_distance=1.42, fare_amount=6.5, extra=0.0, mta_tax=0.5, tip_amount=1.46, tolls_amount=0.0, ehail_fee=None, improvement_surcharge=0.3, total_amount=8.76, payment_type=1, trip_type=1, congestion_surcharge=0.0),
 Row(VendorID=None, lpep_pickup_datetime=datetime.datetime(2020, 1, 12, 18, 54), lpep_dropoff_datetime=datetime.datetime(2020, 1, 12, 19, 11), store_and_fwd_flag=None, RatecodeID=None, PULocationID=41, DOLocationID=235, passenger_count=None, trip_distance=4.62, fare_amount=14.24, extra=0.0, mta_tax=0.0, tip_amount=0.0, tolls_amount=0.0, ehail_fee=None, improvement_surcharge=0.3, total_amount=14.54, payment_type=None, trip_type=None, congestion_surcharge=None)]

In [10]:
rdd = df_green \
    .select ('lpep_pickup_datetime', 'PULocationID', 'total_amount') \
    .rdd

In [11]:
rdd.take(5)

[Row(lpep_pickup_datetime=datetime.datetime(2020, 1, 16, 23, 31, 44), PULocationID=65, total_amount=25.8),
 Row(lpep_pickup_datetime=datetime.datetime(2020, 1, 14, 15, 1, 42), PULocationID=129, total_amount=24.05),
 Row(lpep_pickup_datetime=datetime.datetime(2020, 1, 24, 5, 55), PULocationID=242, total_amount=62.87),
 Row(lpep_pickup_datetime=datetime.datetime(2020, 1, 31, 8, 19, 3), PULocationID=166, total_amount=8.76),
 Row(lpep_pickup_datetime=datetime.datetime(2020, 1, 12, 18, 54), PULocationID=41, total_amount=14.54)]

In [12]:
from datetime import datetime

In [13]:
start = datetime(year=2020, month=1, day=1)

In [14]:
rdd.filter(lambda row:row.lpep_pickup_datetime >= start).take(1)

[Row(lpep_pickup_datetime=datetime.datetime(2020, 1, 16, 23, 31, 44), PULocationID=65, total_amount=25.8)]

In [15]:
rdd.filter(lambda row:row.lpep_pickup_datetime >= start).take(1)

[Row(lpep_pickup_datetime=datetime.datetime(2020, 1, 16, 23, 31, 44), PULocationID=65, total_amount=25.8)]

In [16]:
start = datetime(year=2020, month=1, day=1)

def filter_outliers(row):
        return row.lpep_pickup_datetime >= start

In [17]:
rdd \
    .filter(filter_outliers).take(1)

[Row(lpep_pickup_datetime=datetime.datetime(2020, 1, 16, 23, 31, 44), PULocationID=65, total_amount=25.8)]

In [18]:
rows = rdd.take(10)
row = rows[0]

In [19]:
row

Row(lpep_pickup_datetime=datetime.datetime(2020, 1, 16, 23, 31, 44), PULocationID=65, total_amount=25.8)

In [20]:
row.lpep_pickup_datetime

datetime.datetime(2020, 1, 16, 23, 31, 44)

In [21]:
row.lpep_pickup_datetime.replace(minute=0, second=0, microsecond=0)

datetime.datetime(2020, 1, 16, 23, 0)

In [22]:
def prepare_for_grouping(row):
    hour = row.lpep_pickup_datetime.replace(minute=0, second=0, microsecond=0)
    zone = row.PULocationID
    key = (hour, zone)
    
    amount = row.total_amount
    count = 1
    value = (amount, count)
    
    return(key, value)

In [23]:
rdd \
    .filter(filter_outliers) \
    .map(prepare_for_grouping) \
    .take(10)

[((datetime.datetime(2020, 1, 16, 23, 0), 65), (25.8, 1)),
 ((datetime.datetime(2020, 1, 14, 15, 0), 129), (24.05, 1)),
 ((datetime.datetime(2020, 1, 24, 5, 0), 242), (62.87, 1)),
 ((datetime.datetime(2020, 1, 31, 8, 0), 166), (8.76, 1)),
 ((datetime.datetime(2020, 1, 12, 18, 0), 41), (14.54, 1)),
 ((datetime.datetime(2020, 1, 11, 17, 0), 66), (18.36, 1)),
 ((datetime.datetime(2020, 1, 29, 19, 0), 260), (8.8, 1)),
 ((datetime.datetime(2020, 1, 26, 11, 0), 116), (4.3, 1)),
 ((datetime.datetime(2020, 1, 3, 8, 0), 74), (7.8, 1)),
 ((datetime.datetime(2020, 1, 27, 21, 0), 41), (7.82, 1))]

In [24]:
def calculate_revenue(left_value, right_value):
    left_amount, left_count = left_value 
    right_amount, right_count = right_value
    
    output_amount = left_amount + right_amount
    output_count = left_count + right_count
    
    return (output_amount, output_count)

In [25]:
from collections import namedtuple

In [26]:
RevenueRow = namedtuple('RevenueRow', ['hour', 'zone', 'revenue', 'count'])

In [27]:
def unwrap(row):
    return RevenueRow(
        hour = row[0][0],
        zone = row[0][1],
        revenue = row[1][0],
        count = row[1][1]
        )

In [28]:
rdd \
    .filter(filter_outliers) \
    .map(prepare_for_grouping) \
    .reduceByKey(calculate_revenue) \
    .map(unwrap) \
    .toDF() \
    .show()

+-------------------+----+------------------+-----+
|               hour|zone|           revenue|count|
+-------------------+----+------------------+-----+
|2020-01-31 08:00:00| 166| 487.2900000000001|   28|
|2020-01-12 18:00:00|  41| 916.7399999999996|   66|
|2020-01-17 11:00:00| 116|233.65000000000003|   14|
|2020-01-27 18:00:00|  75|1256.4599999999998|   86|
|2020-01-09 09:00:00|  35|342.08000000000004|   14|
|2020-01-16 06:00:00|  42|            337.77|   14|
|2020-01-05 07:00:00|  76|             62.56|    4|
|2020-01-04 23:00:00| 205|              58.8|    1|
|2020-01-15 19:00:00|  61|197.76000000000005|    9|
|2020-01-30 11:00:00|  25| 290.3300000000001|   16|
|2020-01-30 19:00:00| 255|186.77999999999997|   14|
|2020-01-14 20:00:00|  41| 624.4899999999998|   43|
|2020-01-24 16:00:00|  95| 636.4799999999997|   52|
|2020-01-13 13:00:00|  41| 589.3199999999998|   45|
|2020-01-12 20:00:00|  42| 333.5700000000001|   22|
|2020-01-16 09:00:00|  74|1392.6799999999987|   98|
|2020-01-12 18:00:00|  97| 715.1399999999999|   49|
|2020-01-29 17:00:00|  33|            652.85|   36|
|2020-01-21 13:00:00| 169|150.22000000000003|    6|
|2020-01-12 23:00:00| 247| 77.89999999999999|    3|
+-------------------+----+------------------+-----+
only showing top 20 rows

In [29]:
df_result = rdd \
    .filter(filter_outliers) \
    .map(prepare_for_grouping) \
    .reduceByKey(calculate_revenue) \
    .map(unwrap) \
    .toDF()

In [31]:
df_result.schema

StructType([StructField('hour', TimestampType(), True), StructField('zone', LongType(), True), StructField('revenue', DoubleType(), True), StructField('count', LongType(), True)])

In [32]:
from pyspark.sql import types

In [33]:
result_schema = types.StructType([
    types.StructField('hour', types.TimestampType(), True),
    types.StructField('zone', types.IntegerType(), True),
    types.StructField('revenue', types.DoubleType(), True),
    types.StructField('count', types.IntegerType(), True)
    ])

In [34]:
df_result = rdd \
    .filter(filter_outliers) \
    .map(prepare_for_grouping) \
    .reduceByKey(calculate_revenue) \
    .map(unwrap) \
    .toDF(result_schema)

In [35]:
df_result.show()

+-------------------+----+------------------+-----+
|               hour|zone|           revenue|count|
+-------------------+----+------------------+-----+
|2020-01-31 08:00:00| 166| 487.2900000000001|   28|
|2020-01-12 18:00:00|  41| 916.7399999999996|   66|
|2020-01-17 11:00:00| 116|233.65000000000003|   14|
|2020-01-27 18:00:00|  75|1256.4599999999998|   86|
|2020-01-09 09:00:00|  35|342.08000000000004|   14|
|2020-01-16 06:00:00|  42|            337.77|   14|
|2020-01-05 07:00:00|  76|             62.56|    4|
|2020-01-04 23:00:00| 205|              58.8|    1|
|2020-01-15 19:00:00|  61|197.76000000000005|    9|
|2020-01-30 11:00:00|  25| 290.3300000000001|   16|
|2020-01-30 19:00:00| 255|186.77999999999997|   14|
|2020-01-14 20:00:00|  41| 624.4899999999998|   43|
|2020-01-24 16:00:00|  95| 636.4799999999997|   52|
|2020-01-13 13:00:00|  41| 589.3199999999998|   45|
|2020-01-12 20:00:00|  42| 333.5700000000001|   22|
|2020-01-16 09:00:00|  74|1392.6799999999987|   98|
|2020-01-12 18:00:00|  97| 715.1399999999999|   49|
|2020-01-29 17:00:00|  33|            652.85|   36|
|2020-01-21 13:00:00| 169|150.22000000000003|    6|
|2020-01-12 23:00:00| 247| 77.89999999999999|    3|
+-------------------+----+------------------+-----+
only showing top 20 rows

In [36]:
df_result.write.parquet('tmp/green-revenue')

AnalysisException: path file:/home/udengine/git/data-engineering-zoomcamp/week_5_batch_processing/code/tmp/green-revenue already exists.

In [38]:
df_green.show()

+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
|VendorID|lpep_pickup_datetime|lpep_dropoff_datetime|store_and_fwd_flag|RatecodeID|PULocationID|DOLocationID|passenger_count|trip_distance|fare_amount|extra|mta_tax|tip_amount|tolls_amount|ehail_fee|improvement_surcharge|total_amount|payment_type|trip_type|congestion_surcharge|
+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
|       2| 2020-01-16 23:31:44|  2020-01-16 23:46:21|                 N|         1|          65|          56|              1|          8.6|       24.5|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|        25.8|           2|        1|                 0.0|
|       2| 2020-01-14 15:01:42|  2020-01-14 15:28:14|                 N|         1|         129|         141|              5|         5.16|       20.5|  0.0|    0.5|       0.0|         0.0|     null|                  0.3|       24.05|           2|        1|                2.75|
|    null| 2020-01-24 05:55:00|  2020-01-24 06:26:00|              null|      null|         242|         261|           null|        16.27|       53.2| 2.75|    0.5|       0.0|        6.12|     null|                  0.3|       62.87|        null|     null|                null|
|       2| 2020-01-31 08:19:03|  2020-01-31 08:24:35|                 N|         1|         166|         238|              1|         1.42|        6.5|  0.0|    0.5|      1.46|         0.0|     null|                  0.3|        8.76|           1|        1|                 0.0|
|    null| 2020-01-12 18:54:00|  2020-01-12 19:11:00|              null|      null|          41|         235|           null|         4.62|      14.24|  0.0|    0.0|       0.0|         0.0|     null|                  0.3|       14.54|        null|     null|                null|
|       2| 2020-01-11 17:13:41|  2020-01-11 17:33:40|                 N|         1|          66|          49|              6|         2.67|       14.5|  0.0|    0.5|      3.06|         0.0|     null|                  0.3|       18.36|           1|        1|                 0.0|
|       2| 2020-01-29 19:23:03|  2020-01-29 19:29:47|                 N|         1|         260|         226|              2|         0.64|        6.0|  1.0|    0.5|       1.0|         0.0|     null|                  0.3|         8.8|           1|        1|                 0.0|
|       2| 2020-01-26 11:45:13|  2020-01-26 11:47:10|                 N|         1|         116|         116|              1|         0.43|        3.5|  0.0|    0.5|       0.0|         0.0|     null|                  0.3|         4.3|           2|        1|                 0.0|
|       2| 2020-01-03 08:58:57|  2020-01-03 09:07:19|                 N|         1|          74|          75|              1|         1.38|        7.0|  0.0|    0.5|       0.0|         0.0|     null|                  0.3|         7.8|           2|        1|                 0.0|
|       2| 2020-01-27 21:56:19|  2020-01-27 22:01:04|                 N|         1|          41|          74|              1|          1.0|        5.5|  0.5|    0.5|      1.02|         0.0|     null|                  0.3|        7.82|           1|        1|                 0.0|
|       2| 2020-01-09 20:15:26|  2020-01-09 20:27:42|                 N|         1|         260|         129|              2|         1.42|        9.0|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|        10.3|           2|        1|                 0.0|
|    null| 2020-01-24 14:53:00|  2020-01-24 15:21:00|              null|      null|         167|          46|           null|         8.23|      33.66| 2.75|    0.0|       0.0|         0.0|     null|                  0.3|       36.71|        null|     null|                null|
|    null| 2020-01-19 17:16:00|  2020-01-19 17:41:00|              null|      null|         223|          82|           null|         6.71|      25.21| 2.75|    0.0|       0.0|         0.0|     null|                  0.3|       28.26|        null|     null|                null|
|       1| 2020-01-07 11:58:40|  2020-01-07 12:38:14|                 N|         1|          33|          76|              1|          0.0|       26.2|  0.0|    0.5|       0.0|         0.0|     null|                  0.3|        27.0|           1|        1|                 0.0|
|    null| 2020-01-05 13:03:00|  2020-01-05 13:24:00|              null|      null|         117|         124|           null|         8.25|      38.46| 2.75|    0.0|       0.0|        2.29|     null|                  0.3|        43.8|        null|     null|                null|
|       2| 2020-01-18 03:36:05|  2020-01-18 03:44:35|                 N|         1|          80|          80|              1|         1.43|        8.0|  0.5|    0.5|      1.86|         0.0|     null|                  0.3|       11.16|           1|        1|                 0.0|
|    null| 2020-01-24 18:35:00|  2020-01-24 19:18:00|              null|      null|          45|         124|           null|        10.24|      40.45| 2.75|    0.0|       0.0|         0.0|     null|                  0.3|        43.5|        null|     null|                null|
|       2| 2020-01-16 21:37:47|  2020-01-16 21:41:29|                 N|         1|         181|         181|              1|         0.61|        4.5|  0.5|    0.5|      1.45|         0.0|     null|                  0.3|        7.25|           1|        1|                 0.0|
|       2| 2020-01-02 01:14:51|  2020-01-02 01:21:39|                 N|         1|          82|          56|              1|         1.62|        7.5|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|         8.8|           2|        1|                 0.0|
|       2| 2020-01-17 11:35:04|  2020-01-17 11:57:37|                 N|         1|         116|          74|              1|         3.43|       16.5|  0.0|    0.5|       1.0|         0.0|     null|                  0.3|        18.3|           1|        1|                 0.0|
+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
only showing top 20 rows

In [39]:
columns = ['VendorID', 'lpep_pickup_datetime', 'PULocationID', 'DOLocationID', 'trip_distance']

df_green \
    .select(columns) \
    .show()

+--------+--------------------+------------+------------+-------------+
|VendorID|lpep_pickup_datetime|PULocationID|DOLocationID|trip_distance|
+--------+--------------------+------------+------------+-------------+
|       2| 2020-01-16 23:31:44|          65|          56|          8.6|
|       2| 2020-01-14 15:01:42|         129|         141|         5.16|
|    null| 2020-01-24 05:55:00|         242|         261|        16.27|
|       2| 2020-01-31 08:19:03|         166|         238|         1.42|
|    null| 2020-01-12 18:54:00|          41|         235|         4.62|
|       2| 2020-01-11 17:13:41|          66|          49|         2.67|
|       2| 2020-01-29 19:23:03|         260|         226|         0.64|
|       2| 2020-01-26 11:45:13|         116|         116|         0.43|
|       2| 2020-01-03 08:58:57|          74|          75|         1.38|
|       2| 2020-01-27 21:56:19|          41|          74|          1.0|
|       2| 2020-01-09 20:15:26|         260|         129|         1.42|
|    null| 2020-01-24 14:53:00|         167|          46|         8.23|
|    null| 2020-01-19 17:16:00|         223|          82|         6.71|
|       1| 2020-01-07 11:58:40|          33|          76|          0.0|
|    null| 2020-01-05 13:03:00|         117|         124|         8.25|
|       2| 2020-01-18 03:36:05|          80|          80|         1.43|
|    null| 2020-01-24 18:35:00|          45|         124|        10.24|
|       2| 2020-01-16 21:37:47|         181|         181|         0.61|
|       2| 2020-01-02 01:14:51|          82|          56|         1.62|
|       2| 2020-01-17 11:35:04|         116|          74|         3.43|
+--------+--------------------+------------+------------+-------------+
only showing top 20 rows

In [40]:
dur_rdd = df_green \
    .select(columns) \
    .rdd

In [41]:
rdd.take(5)

[Row(lpep_pickup_datetime=datetime.datetime(2020, 1, 16, 23, 31, 44), PULocationID=65, total_amount=25.8),
 Row(lpep_pickup_datetime=datetime.datetime(2020, 1, 14, 15, 1, 42), PULocationID=129, total_amount=24.05),
 Row(lpep_pickup_datetime=datetime.datetime(2020, 1, 24, 5, 55), PULocationID=242, total_amount=62.87),
 Row(lpep_pickup_datetime=datetime.datetime(2020, 1, 31, 8, 19, 3), PULocationID=166, total_amount=8.76),
 Row(lpep_pickup_datetime=datetime.datetime(2020, 1, 12, 18, 54), PULocationID=41, total_amount=14.54)]

In [42]:
import pandas as pd

In [43]:
rows = dur_rdd.take(10)

In [44]:
rows

[Row(VendorID=2, lpep_pickup_datetime=datetime.datetime(2020, 1, 16, 23, 31, 44), PULocationID=65, DOLocationID=56, trip_distance=8.6),
 Row(VendorID=2, lpep_pickup_datetime=datetime.datetime(2020, 1, 14, 15, 1, 42), PULocationID=129, DOLocationID=141, trip_distance=5.16),
 Row(VendorID=None, lpep_pickup_datetime=datetime.datetime(2020, 1, 24, 5, 55), PULocationID=242, DOLocationID=261, trip_distance=16.27),
 Row(VendorID=2, lpep_pickup_datetime=datetime.datetime(2020, 1, 31, 8, 19, 3), PULocationID=166, DOLocationID=238, trip_distance=1.42),
 Row(VendorID=None, lpep_pickup_datetime=datetime.datetime(2020, 1, 12, 18, 54), PULocationID=41, DOLocationID=235, trip_distance=4.62),
 Row(VendorID=2, lpep_pickup_datetime=datetime.datetime(2020, 1, 11, 17, 13, 41), PULocationID=66, DOLocationID=49, trip_distance=2.67),
 Row(VendorID=2, lpep_pickup_datetime=datetime.datetime(2020, 1, 29, 19, 23, 3), PULocationID=260, DOLocationID=226, trip_distance=0.64),
 Row(VendorID=2, lpep_pickup_datetime=datetime.datetime(2020, 1, 26, 11, 45, 13), PULocationID=116, DOLocationID=116, trip_distance=0.43),
 Row(VendorID=2, lpep_pickup_datetime=datetime.datetime(2020, 1, 3, 8, 58, 57), PULocationID=74, DOLocationID=75, trip_distance=1.38),
 Row(VendorID=2, lpep_pickup_datetime=datetime.datetime(2020, 1, 27, 21, 56, 19), PULocationID=41, DOLocationID=74, trip_distance=1.0)]

In [45]:
pd.DataFrame(rows, columns=columns)

   VendorID lpep_pickup_datetime  PULocationID  DOLocationID  trip_distance
0       2.0  2020-01-16 23:31:44            65            56           8.60
1       2.0  2020-01-14 15:01:42           129           141           5.16
2       NaN  2020-01-24 05:55:00           242           261          16.27
3       2.0  2020-01-31 08:19:03           166           238           1.42
4       NaN  2020-01-12 18:54:00            41           235           4.62
5       2.0  2020-01-11 17:13:41            66            49           2.67
6       2.0  2020-01-29 19:23:03           260           226           0.64
7       2.0  2020-01-26 11:45:13           116           116           0.43
8       2.0  2020-01-03 08:58:57            74            75           1.38
9       2.0  2020-01-27 21:56:19            41            74           1.00

In [46]:
def apply_model_in_batch(partition):
    cnt = 0
    
    for row in partition:
        cnt = cnt + 1
        
    return [cnt]

In [47]:
rdd.mapPartitions(apply_model_in_batch).collect()

[1141148, 436983, 433476, 292910]

In [48]:
def apply_model_in_batch(rows):
        
    df = pd.DataFrame(rows, columns=columns)
    cnt = len(df)
        
    return [cnt]

In [49]:
dur_rdd.mapPartitions(apply_model_in_batch).collect()

[1141148, 436983, 433476, 292910]

In [50]:
df = pd.DataFrame(rows, columns=columns)

In [51]:
df.itertuples()

In [52]:
list(df.itertuples())

[Pandas(Index=0, VendorID=2.0, lpep_pickup_datetime=Timestamp('2020-01-16 23:31:44'), PULocationID=65, DOLocationID=56, trip_distance=8.6),
 Pandas(Index=1, VendorID=2.0, lpep_pickup_datetime=Timestamp('2020-01-14 15:01:42'), PULocationID=129, DOLocationID=141, trip_distance=5.16),
 Pandas(Index=2, VendorID=nan, lpep_pickup_datetime=Timestamp('2020-01-24 05:55:00'), PULocationID=242, DOLocationID=261, trip_distance=16.27),
 Pandas(Index=3, VendorID=2.0, lpep_pickup_datetime=Timestamp('2020-01-31 08:19:03'), PULocationID=166, DOLocationID=238, trip_distance=1.42),
 Pandas(Index=4, VendorID=nan, lpep_pickup_datetime=Timestamp('2020-01-12 18:54:00'), PULocationID=41, DOLocationID=235, trip_distance=4.62),
 Pandas(Index=5, VendorID=2.0, lpep_pickup_datetime=Timestamp('2020-01-11 17:13:41'), PULocationID=66, DOLocationID=49, trip_distance=2.67),
 Pandas(Index=6, VendorID=2.0, lpep_pickup_datetime=Timestamp('2020-01-29 19:23:03'), PULocationID=260, DOLocationID=226, trip_distance=0.64),
 Pandas(Index=7, VendorID=2.0, lpep_pickup_datetime=Timestamp('2020-01-26 11:45:13'), PULocationID=116, DOLocationID=116, trip_distance=0.43),
 Pandas(Index=8, VendorID=2.0, lpep_pickup_datetime=Timestamp('2020-01-03 08:58:57'), PULocationID=74, DOLocationID=75, trip_distance=1.38),
 Pandas(Index=9, VendorID=2.0, lpep_pickup_datetime=Timestamp('2020-01-27 21:56:19'), PULocationID=41, DOLocationID=74, trip_distance=1.0)]

In [64]:
# model = ...

def model_predict(df):
    
    # y_pred = model.predict(df)
    y_pred = df.trip_distance * 5
    return y_pred

In [58]:
def infinite_seq():
    i = 0
    
    while True:
        yield i
        i = i +1
        
        if i > 30:
            break

In [59]:
seq = infinite_seq()

In [56]:
seq

In [110]:
next(seq)

13

In [61]:
list(seq)

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30]

In [57]:
for i in seq:
    print(i)
    
    if i >= 20:
        break

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [62]:
def apply_model_in_batch(rows):
        
    df = pd.DataFrame(rows, columns=columns)
    predictions = model_predict(df)
    df['predicted_duration'] = predictions
    
    for row in df.itertuples():
        yield row

In [65]:
dur_rdd.mapPartitions(apply_model_in_batch).take(10)

[Pandas(Index=0, VendorID=2.0, lpep_pickup_datetime=Timestamp('2020-01-16 23:31:44'), PULocationID=65, DOLocationID=56, trip_distance=8.6, predicted_duration=43.0),
 Pandas(Index=1, VendorID=2.0, lpep_pickup_datetime=Timestamp('2020-01-14 15:01:42'), PULocationID=129, DOLocationID=141, trip_distance=5.16, predicted_duration=25.8),
 Pandas(Index=2, VendorID=nan, lpep_pickup_datetime=Timestamp('2020-01-24 05:55:00'), PULocationID=242, DOLocationID=261, trip_distance=16.27, predicted_duration=81.35),
 Pandas(Index=3, VendorID=2.0, lpep_pickup_datetime=Timestamp('2020-01-31 08:19:03'), PULocationID=166, DOLocationID=238, trip_distance=1.42, predicted_duration=7.1),
 Pandas(Index=4, VendorID=nan, lpep_pickup_datetime=Timestamp('2020-01-12 18:54:00'), PULocationID=41, DOLocationID=235, trip_distance=4.62, predicted_duration=23.1),
 Pandas(Index=5, VendorID=2.0, lpep_pickup_datetime=Timestamp('2020-01-11 17:13:41'), PULocationID=66, DOLocationID=49, trip_distance=2.67, predicted_duration=13.35),
 Pandas(Index=6, VendorID=2.0, lpep_pickup_datetime=Timestamp('2020-01-29 19:23:03'), PULocationID=260, DOLocationID=226, trip_distance=0.64, predicted_duration=3.2),
 Pandas(Index=7, VendorID=2.0, lpep_pickup_datetime=Timestamp('2020-01-26 11:45:13'), PULocationID=116, DOLocationID=116, trip_distance=0.43, predicted_duration=2.15),
 Pandas(Index=8, VendorID=2.0, lpep_pickup_datetime=Timestamp('2020-01-03 08:58:57'), PULocationID=74, DOLocationID=75, trip_distance=1.38, predicted_duration=6.8999999999999995),
 Pandas(Index=9, VendorID=2.0, lpep_pickup_datetime=Timestamp('2020-01-27 21:56:19'), PULocationID=41, DOLocationID=74, trip_distance=1.0, predicted_duration=5.0)]

In [69]:
df_predicts = dur_rdd \
    .mapPartitions(apply_model_in_batch) \
    .toDF() \
    .drop('Index')

In [71]:
df_predicts.show()

+--------+--------------------+------------+------------+-------------+------------------+
|VendorID|lpep_pickup_datetime|PULocationID|DOLocationID|trip_distance|predicted_duration|
+--------+--------------------+------------+------------+-------------+------------------+
|     2.0|                  {}|          65|          56|          8.6|              43.0|
|     2.0|                  {}|         129|         141|         5.16|              25.8|
|     NaN|                  {}|         242|         261|        16.27|             81.35|
|     2.0|                  {}|         166|         238|         1.42|               7.1|
|     NaN|                  {}|          41|         235|         4.62|              23.1|
|     2.0|                  {}|          66|          49|         2.67|             13.35|
|     2.0|                  {}|         260|         226|         0.64|               3.2|
|     2.0|                  {}|         116|         116|         0.43|              2.15|
|     2.0|                  {}|          74|          75|         1.38|6.8999999999999995|
|     2.0|                  {}|          41|          74|          1.0|               5.0|
|     2.0|                  {}|         260|         129|         1.42|               7.1|
|     NaN|                  {}|         167|          46|         8.23|41.150000000000006|
|     NaN|                  {}|         223|          82|         6.71|             33.55|
|     1.0|                  {}|          33|          76|          0.0|               0.0|
|     NaN|                  {}|         117|         124|         8.25|             41.25|
|     2.0|                  {}|          80|          80|         1.43|7.1499999999999995|
|     NaN|                  {}|          45|         124|        10.24|              51.2|
|     2.0|                  {}|         181|         181|         0.61|              3.05|
|     2.0|                  {}|          82|          56|         1.62| 8.100000000000001|
|     2.0|                  {}|         116|          74|         3.43|17.150000000000002|
+--------+--------------------+------------+------------+-------------+------------------+
only showing top 20 rows

In [72]:
df_predicts.select('predicted_duration').show()

+------------------+
|predicted_duration|
+------------------+
|              43.0|
|              25.8|
|             81.35|
|               7.1|
|              23.1|
|             13.35|
|               3.2|
|              2.15|
|6.8999999999999995|
|               5.0|
|               7.1|
|41.150000000000006|
|             33.55|
|               0.0|
|             41.25|
|7.1499999999999995|
|              51.2|
|              3.05|
| 8.100000000000001|
|17.150000000000002|
+------------------+
only showing top 20 rows